h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 28px;
  margin-left: 15px;
}

.desktop {
  display: none;
}

.purchase-heading {
  display: none;
}

@media (min-width: 1024px) {
  h1 {
    color: #16145a;
    font-size: 40px;
    line-height: 50px;
  }

  .desktop {
    display: block;
  }

  .purchase-heading-container {
    border: 1px solid lightgray;
    margin-left: 15px;
    margin-bottom: -1px;
  }

  .purchase-list {
    border: 1px solid lightgray;
    margin-left: 15px;
  }

  .purchase-icon {
    line-height: 30px;
  }

  .purchase-date-container {
    line-height: 30px;
    margin-top: 0;
  }

  .desktop .purchase-category-container,
  .desktop .purchase-description,
  .desktop .purchase-price {
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
    line-height: 30px;
  }
}
