h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 28px;
  margin-left: 15px;
}

.purchase-heading {
  display: none;
}

@media (min-width: 1024px) {
  h1 {
    color: #16145a;
    font-size: 40px;
    line-height: 50px;
  }

  .purchase-heading-container {
    border: 1px solid lightgray;
    margin-left: 15px;
    margin-bottom: -1px;
  }

  .purchase-heading {
    display: flex;
    flex-direction: row;
    margin: 0px 15px 10px 15px;
    padding: 16px 24px;
  }

  .purchase-item-heading {
    flex-basis: 170px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 40px;
  }

  .purchase-list {
    border: 1px solid lightgray;
    margin-left: 15px;
  }
}
