:root {
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --desktop-header-color: #16145a;

  --primary-black: #272833;
  --secondary-black: #232326;

  --primary-border-color: lightgray;
  --secondary-border-color: #cdced9;
}

body {
  font-family: "Source Sans 3";
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
