:root {
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Source Sans 3";
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
